#content {
    width: 100vw;
}

.card {
    width: 18rem;
    height: 25rem;

    &-img-top {
        //max-height: 125px;
        width: 150px;
    }

    &-title {
        height: 3rem;
        overflow: hidden;
        //white-space: nowrap;
        text-overflow: ellipsis;
    }

    &-text {
        height: 4.5rem;
        overflow: hidden;
        //white-space: nowrap;
        text-overflow: ellipsis;
    }
}
