#content {
    width: 100vw;

    & .sticky-button {
        position: sticky;
        top: 1rem;
        left: 0;
        z-index: 999;
    }
}

.product {
    transition: transform 0.5s ease;
    width: 18rem;
    height: 25rem;

    &:hover{
        transform: scale(1.1);
    }

    &-img-top {
        width: 150px;
    }

    &-title {
        height: 3rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-text {
        height: 4.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
