.product__detail {

    &--img-top {
        width: 300px;
    }

    &--title {
        height: 3rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &--text {
        height: 4.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
